#tgs{
    margin-right: 5px;
}

#dktk{
    margin-right: 5px;
}

#hanoi{
    height: 200px;
}

#danang{
    height: 200px;
}

#cantho{
    height: 200px;
}

#hue{
    height: 200px;
}

#lienhe{
    font-size: 150px;
}

#buoi{
    width: 500px;
}